<%= form_for @budget, :html => { :class => "form-horizontal budget" } do |f| %>

  <% if @budget.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @budget.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :amount, :class => 'form-control' %>
    </div>
    <%=f.error_span(:amount) %>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :start_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :start_date, :class => 'form-control datepicker' %>
    </div>
    <%=f.error_span(:start_date) %>
  </div>
  <div class="form-group">
    <%= f.label :end_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :end_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:end_date) %>
  </div>
  <div class="form-group">
    <%= f.label :desc, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :desc, :class => 'form-control' %>
    </div>
    <%=f.error_span(:desc) %>
  </div>
  

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                budgets_path, :class => 'btn btn-default' %>
    </div>
  </div>

  <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<% end %>
